<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Bootstrap3响应式后台管理系统模版MeAdmin 用户登录页面 - JS代码网</title>
    <link href="~/meAdmin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/meAdmin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/meAdmin/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/meAdmin/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/meAdmin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/meAdmin/assets/css/login.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/meAdmin/assets/css/fontawesome/font-awesome.min.css">
    <!--[if IE 7]>
      <link rel="stylesheet" href="~/meAdmin/assets/css/fontawesome/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if IE 8]>
      <link href="~/meAdmin/assets/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700'
          rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/meAdmin/assets/js/libs/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="~/meAdmin/bootstrap/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/meAdmin/assets/js/libs/lodash.compat.min.js">
    </script>
    <!--[if lt IE 9]>
      <script src="~/meAdmin/assets/js/libs/html5shiv.js">
      </script>
    <![endif]-->
    <script type="text/javascript" src="~/meAdmin/plugins/uniform/jquery.uniform.min.js">
    </script>
    <script type="text/javascript" src="~/meAdmin/plugins/validation/jquery.validate.min.js">
    </script>
    <script type="text/javascript" src="~/meAdmin/plugins/nprogress/nprogress.js">
    </script>
    <script type="text/javascript" src="~/meAdmin/common/login.js">
    </script>
    <script>
       
    </script>
</head>

<body class="login">
    @RenderBody()
</body>

</html>