@page
@model MyOrangeCMS_RazorVersion.Pages.Admin.Managers.LoginSuccessModel
@{
    Layout = "_LayoutAdmin"; //页面模板
    ViewData["Title"] = "登录成功";
 

}

<div class="container">
    <div class="page-header">
        <div class="page-title">
            <h3>
                 登录成功！
            </h3>
            <span>

            </span>
        </div>

    </div>
   
</div>