@page
@model MyOrangeCMS_RazorVersion.Pages.Admin.Users.EditModel

 
@{
    Layout = "_LayoutAdmin"; //页面模板
    ViewData["Title"] = "管理用户信息";
    ViewData["UserPower"] = Service.UserPower.GetList();
}


<div class="container">
    <div class="page-header">
        <div class="page-title">
            <h3>
                管理信息
            </h3>
            <span>
                <a asp-page="Index"> <<返回列表</a>
            </span>
        </div>

    </div>

    <form class="form-horizontal" role="role" method="post" accept-charset="utf-8">
        <div class="row">
            <div class="col-md-12 form-horizontal row-border">
                <div class="widget box">
                    <div class="widget-header">
                        <h4>
                            <i class="icon-reorder">
                            </i>
                            输入您的数据:
                        </h4>
                    </div>
                    <div class="widget-content">

                        <div class="alert alert-danger" id="divHidden" style="display: none;">
                        </div>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="text-danger">@(Model.ErrorInfo)</div>

                        <div class="form-group">
                            <label asp-for="User.Name" class="col-sm-2 control-label"></label>
                            <input asp-for="User.Name" class="form-control" style="width:10%;" />
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.Username" class="col-sm-2 control-label"></label>
                            <input asp-for="User.Username" class="form-control" style="width:10%;" />
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.Email" class="col-sm-2 control-label"></label>
                            <input asp-for="User.Email" class="form-control" style="width:30%;" />
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.Mobile" class="col-sm-2 control-label"></label>
                            <input asp-for="User.Mobile" class="form-control" style="width:10%;" />
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Mobile" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.Password" class="col-sm-2 control-label"></label>
                            <input asp-for="User.Password" class="form-control" style="width:10%;" />
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="User.Nickname" class="col-sm-2 control-label"></label>
                            <input asp-for="User.Nickname" class="form-control" style="width:10%;" />
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Nickname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="User.Headerpic" class="col-sm-2 control-label"></label>
                            <input asp-for="User.Headerpic" class="form-control" style="width:30%;" />
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Headerpic" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="User.Sex" class="col-sm-2 control-label"></label>
                           
                            <select asp-for="User.Sex"
                            class="form-control" style="width:10%;"
                            asp-items="@(MyOrangeCMS_RazorVersion.Service.NewsService.GetSex())">
                            </select>
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Sex" class="text-danger"></span>
                        </div>

                        
                        
                        <div class="form-group">
                            <label asp-for="User.Openid" class="col-sm-2 control-label"></label>
                            <input asp-for="User.Openid" class="form-control" style="width:30%;" />
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Openid" class="text-danger"></span>
                        </div>

                       
                       
                        <div class="form-group">
                            <label asp-for="User.Intro" class="col-sm-2 control-label"></label>
                            <textarea asp-for="User.Intro" class="form-control" rows="5" cols="5" style="width:30%;">
                            </textarea>
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.Intro" class="text-danger"></span>
                        </div>

                       
                        <div class="form-group">
                            <label asp-for="User.State" class="col-sm-2 control-label"></label>

                            <select asp-for="User.State"
                            class="form-control" style="width:10%;"
                            asp-items="@(MyOrangeCMS_RazorVersion.Service.NewsService.GetNewsState())">
                            </select>
                             
                        </div>
                        <div class="row div-error">
                          <label class="col-sm-2 control-label">&nbsp;</label>
                          <span asp-validation-for="User.State" class="text-danger"></span>
                        </div>
                       
                       
                        
                       
                      

                   
                         
 





                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input type="submit" value="保 存" class="btn btn-success" />
                                <input asp-for="User.Id" type="hidden"  />
                                <input asp-for="User.Createtime" type="hidden"  />
                       
                            </div>
                        </div>
















                    </div>
                </div>
            </div>
        </div>

    </form>



</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
