@page
@model MyOrangeCMS_RazorVersion.Pages.Admin.Menus.EditModel


@{
    Layout = "_LayoutAdmin"; //页面模板
    ViewData["Title"] = "管理菜单";
    this.ViewData["FieldNameList"] = new List<SelectListItem>
            {
                                     new SelectListItem("菜单","icon-table"),
                                      new SelectListItem("子菜单","icon-angle-right")


   };
}


<div class="container">
    <div class="page-header">
        <div class="page-title">
            <h3>
                管理菜单
            </h3>
            <span>
                <a asp-page="Index"> <<返回列表</a>
            </span>
        </div>

    </div>

    <form class="form-horizontal" role="role" method="post" accept-charset="utf-8">
        <div class="row">
            <div class="col-md-12 form-horizontal row-border">
                <div class="widget box">
                    <div class="widget-header">
                        <h4>
                            <i class="icon-reorder">
                            </i>
                            输入您的数据:
                        </h4>
                    </div>
                    <div class="widget-content">

                        <div class="alert alert-danger" id="divHidden" style="display: none;">
                        </div>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <div class="form-group">
                            <label  class="col-sm-2 control-label">父菜单</label>
                            <select asp-for="Menu.Parentid"
                                    class="form-control" style="width:10%;"
                                    asp-items="@(this.Model.lstMenu)">
                            </select>


                        </div>


          


                        <div class="form-group">
                            <label asp-for="Menu.Name" class="col-sm-2 control-label"></label>
                            <input asp-for="Menu.Name" class="form-control" style="width:30%;" />

                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">&nbsp;</label>
                            <span asp-validation-for="Menu.Name" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Menu.Cssclass" class="col-sm-2 control-label"></label>
                            <select style="width:30%;" asp-for="Menu.Cssclass"
                                    class="form-control"
                                    asp-items="@(ViewData["FieldNameList"] as List<SelectListItem>)">
                            </select>

                        </div>


                        <div class="form-group">
                            <label asp-for="Menu.Linktext" class="col-sm-2 control-label"></label>
                            <input asp-for="Menu.Linktext" class="form-control" style="width:30%;" />

                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">&nbsp;</label>
                            <span asp-validation-for="Menu.Linktext" class="text-danger"></span>
                        </div>






                        <div class="row">
                            <label class="col-sm-2 control-label">&nbsp;</label>
                            <span asp-validation-for="Menu.Parentid" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Menu.Sort" class="col-sm-2 control-label"></label>
                            <input asp-for="Menu.Sort" class="form-control" style="width:30%;" />

                        </div>

                        <div class="row">
                            <label class="col-sm-2 control-label">&nbsp;</label>
                            <span asp-validation-for="Menu.Sort" class="text-danger"></span>
                        </div>




                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input type="submit" value="保 存" class="btn btn-success" />
                                <input asp-for="Menu.Id" type="hidden" />

                            </div>
                        </div>
















                    </div>
                </div>
            </div>
        </div>

    </form>



</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

