    private readonly MyOrangeCMS_RazorVersionContext _context;
    private IMapper _mapper;

    public IndexModel(MyOrangeCMS_RazorVersionContext context,
        IMapper mapper)
    {
        _context = context;
        _mapper  = mapper;
    }

    public IList<{{tableName}}DTO> {{tableName}} { get;set; } = default!;

    [BindProperty]
    public SearchDTO SearchDTO { get; set; } = default!;

    [BindProperty]
    public int MyPageNumber { get; set; } = 1;

    [BindProperty]
    public string MyActionType { get; set; } = "";

    //[BindProperty]
    public int TotalCount { get; set; } = 0;

    public string SplitPageHtml { get; set; } = "";

    public async Task OnPostAsync()
    {

        if (_context.{{tableName}} != null)
        {


            string where       = string.IsNullOrEmpty(SearchDTO.SearchValue)?"Id>0": SearchDTO.FieldName + ".contains(\"" + SearchDTO.SearchValue + "\")";
            var q              =  _context.{{tableName}}.Where(where);
            TotalCount         = await q.CountAsync();
            int skip           = MyPage.GetSkip(MyPageNumber, MyPage.PageSize); 
            var lst            = await q.OrderByDescending(x => x.Id).Skip(skip).Take(MyPage.PageSize).ToListAsync();
            this.{{tableName}}     = _mapper.Map<List<{{tableName}}DTO>>(lst);
            this.SplitPageHtml           = MyPage.GetSplitPageHtml(TotalCount, MyPageNumber, MyPage.PageSize);
        }

    }

    public async Task OnGetAsync()
    {

        if (_context.{{tableName}} != null)
        {
            TotalCount   = await _context.{{tableName}}.CountAsync();
            var lst      = await _context.{{tableName}}.OrderByDescending(x => x.Id).Take(MyPage.PageSize).ToListAsync();
           
            this.{{tableName}} = _mapper.Map<List<{{tableName}}DTO>>(lst);

            this.SplitPageHtml = MyPage.GetSplitPageHtml(TotalCount,1, MyPage.PageSize);
        }
    }