<div class="container">
    <a class="logo" href="/"></a>
    <div class="main-nav pull-left hidden-xs">
        <ul class="header-menu">
            <!--顶部菜单-->

            <li>
                <a href="/" class="has-url">首页</a>
            </li>
            <li>
                <a href="/article/listall?code=001" class="has-url">文章</a>
            </li>
            

            <li>
                <a href="/article/listall?code=008" class="has-url">好物</a>
            </li>
            <li>
                <a href="/article/show?id=224" class="has-url">关于</a>
            </li>

        </ul>

    </div>
    <div class="search-box pull-right search-selected">

        <input type="text" class="search-t" name="q" id="q" placeholder="搜索">
        <input type="button" class="search-btn FontAwesome" value="" >

    </div>
    <div class="menu-button pull-right visible-xs">
        <i class="fa fa-bars fa-3x"></i>
    </div>
</div>
